<template>
  <div v-if="people.length !== 0">
    <div class="card inline" v-for="person in people" :key="person.id">
      <h3>{{ person.firstName }}</h3>
      <button class="btn danger" @click="remove(person.id)">Удалить</button>
    </div>
  </div>
  <div v-else class="card center">
    <h4>Людей пока нет</h4>
    <button class="btn" @click="load">Загрузить список</button>
  </div>
</template>

<script>
export default {
  name: "AppPeopleList",

  props: {
    people: {
      type: Array,
      required: false,
    },
  },

  emits: {
    load: null,
    remove: null,
    // remove: (value) => typeof value == "string",
  },

  methods: {
    load() {
      this.$emit("load");
    },
    remove(id) {
      this.$emit("remove", id);
    },
  },
};
</script>
<style scoped>
.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
