<template>
  <div class="container">
    <app-alert :alert="alert" @close="closeAlert"></app-alert>

    <form class="card" @submit.prevent="createPerson">
      <h2>Работа с базой данных</h2>

      <div class="form-control">
        <label for="name"> Введите имя</label>
        <input type="text" id="name" v-model="name" />
      </div>

      <button class="btn primary" :disabled="name.length === 0">
        Создать человека
      </button>
    </form>

    <app-loader v-if="loading"></app-loader>

    <app-people-list
      v-else
      :people="people"
      @load="loadPeople"
      @remove="removePerson"
    ></app-people-list>
  </div>
</template>

<script>
import AppPeopleList from "./components/AppPeopleList.vue";
import AppAlert from "./components/AppAlert.vue";
import axios from "axios";
import AppLoader from "./components/AppLoader.vue";

export default {
  components: { AppPeopleList, AppAlert, AppLoader },
  data() {
    return {
      name: "",
      people: [],
      alert: null,
      loading: false,
    };
  },
  mounted() {
    this.loadPeople();
  },

  methods: {
    setDataBaseUrl() {
      return process.env.VUE_APP_DATABASE_URL + "/people.json";
    },

    closeAlert() {
      this.alert = null;
    },

    async createPerson() {
      const URL = this.setDataBaseUrl();

      const response = await fetch(URL, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          firstName: this.name,
        }),
      });

      const firebaseData = await response.json();

      console.log(firebaseData.name);

      this.people.push({ firstName: this.name, id: firebaseData.name });
      this.name = "";
    },

    loadPeople() {
      const URL = this.setDataBaseUrl();
      this.loading = true;
      setTimeout(async () => {
        try {
          const response = await axios.get(URL);

          // ! если  response.data пусто тогда будет ошибка с этим текстом
          // ! до catch (e) выполнение не дойдет
          // ? если убрать эту проверку, то ошибка попадет в  catch (e)
          if (!response.data) {
            throw new Error("Список людей пуст");
          }

          const result = Object.keys(response.data).map((key) => {
            return {
              id: key,
              firstName: response.data[key].firstName,
              // * ...response.data[key] - более универсальная запись - все полученные ключи
            };
          });

          console.log(result);

          this.people = result;

          this.loading = false;
        } catch (e) {
          this.alert = {
            type: "danger",
            title: "Ошибка!",
            text: e.message,
          };

          // ! смотри блок throw new Error("Список людей пуст"); - генерация кастомной ошибки
          console.log(e.message);
          this.loading = false;
        }
      }, 1500);
    },
    async removePerson(id) {
      try {
        const deleteUrl =
          process.env.VUE_APP_DATABASE_URL + `/people/${id}.json`;

        console.log(await axios.delete(deleteUrl));

        const deletedPerson = this.people.find((person) => person.id === id);

        this.people = this.people.filter((person) => person.id !== id);

        this.alert = {
          type: "primary",
          title: "Успешно ",
          text: `Пользователь ${deletedPerson.firstName} был удален`,
        };
      } catch (e) {
        // ! выведем ошибку если запись не была удалена
        console.log("123", e);
      }
    },
  },
};
// *
// !
// ?
// TODO
//// 1231
</script>
